@media (max-width: 800px) {

	.nav,
	.account {
		display: none;
	}

	.nav_button {
		display: block;
	}

	.mobile_nav_active {
		display: flex;
	}
}

@media (max-width: 410px) {
	.grid {
		display: grid;
		grid-template-columns: 1fr;
		width: 100%;
		justify-content: center;
		grid-gap: 10px;
		margin-bottom: 100px;
	}

	.grid_colors {
		display: grid;
		grid-template-columns: 1fr;
		width: 100%;
		justify-content: center;
		grid-gap: 10px;
		margin-bottom: 100px;
	}

	.color_card {
		margin-bottom: 20px;
	}

	.grid_card {
		margin-bottom: 10px;
	}

}

@media (max-width: 1020px) {
	.depress_cards {
		display: grid;
		flex-direction: column;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		justify-content: center;
		margin-bottom: 100px;
	}
}

@media (max-width: 410px) {
	.depress_cards {
		display: grid;
		grid-template-columns: 1fr;
		width: 100%;
		justify-content: center;
		grid-gap: 10px;
		margin-bottom: 100px;
	}

	.depress-img {
		margin-bottom: 10px;
	}

}

@media (max-width: 1150px) {
	.forest-cards {
		display: grid;
		flex-direction: column;
		grid-template-columns: 2fr 1fr 1fr;
		grid-gap: 20px;
		justify-content: center;
		margin-bottom: 100px;
	}

	.forest-card {
		background-color: black;
		border: 3px solid #c0c3c4;
		border-radius: 8px;
		line-height: 20px;
		text-align: center;
		padding: 10px;
	}
}

@media (max-width: 1020px) {
	.forest-cards {
		display: grid;
		flex-direction: column;
		grid-template-columns: 1fr;
		grid-gap: 20px;
		justify-content: center;
		margin-bottom: 100px;
	}

	.forest-card {
		background-color: black;
		border: 3px solid #c0c3c4;
		border-radius: 8px;
		line-height: 20px;
		text-align: center;
		padding: 10px;
	}
}