@media (max-width: 800px) {

	.nav,
	.account {
		display: none;
	}

	.nav_button {
		display: block;
	}

	.mobile_nav_active {
		display: flex;
	}
}

@media (max-width: 410px) {
	.grid {
		display: grid;
		grid-template-columns: 1fr;
		width: 100%;
		justify-content: center;
		grid-gap: 10px;
		margin-bottom: 100px;
	}

	.grid_colors {
		display: grid;
		grid-template-columns: 1fr;
		width: 100%;
		justify-content: center;
		grid-gap: 10px;
		margin-bottom: 100px;
	}

	.color_card {
		margin-bottom: 20px;
	}

}
